/* src/components/Content/Content.css */

.content {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient__text {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.Link {
  font-weight: 900;
}

.Link:hover {
  cursor: pointer;
  color: #b69b9b;
  ;
}

h2 {
  font-size: 1.75rem;
  margin: 2rem 0;
  color: #b9b9b9;
}

h3 {
  font-size: 1.5rem;
  color: #d1d1d1;
}

h4 {
  color: #d1d1d1;
  margin: 0.5rem 0;
  font-weight: 900;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #d1d1d1;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1.5rem 0;
}



.post-image {
  display: block;
  margin: 0 auto;
}

.post-container {
  margin: 2rem 0;
}

.post-content p {
  margin: 1rem 0;
}

.post-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.post-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.post-image {
  flex: 1 1 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  height: auto;
  border-radius: 8px;
}

/* Additional styling for responsive design */
@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}